<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>>
</head>
<body>
<from th:action="@{/login}"th:object="$(user)"method="post">


    <lable for="username">Username</lable>
    <input type="text" name="username" id="username">
    <br>
    <lable for="email">Username</lable>
    <input type="email" name="email" id="email">
    <br>

    <lable for="password">Username</lable>
    <input type="password" name="password" id="password"><br>
    <button type="submit">Register</button>
</from>
</body>
</html>